html {
    width: 100%;
}

body {
    transition: all 0.4s ease-in-out;
}

.hidden {
    display: none;
}

.day {
    background-color: var(--background-day);
    color: var(--secondary-text-color);
}

.night {
    background-color: var(--background-night);
    color: var(--text-color);
}

.dayText {
    color: var(--text-color);
}

.nightText {
    color: var(--secondary-text-color);
}

.colorMode {
    background-image: url('daymodeicon.png');
    background-size: cover;
    width: 63px;
    height: 70px;
    border-radius: 100px;
    position: relative;
    transition: width 0.4s ease-in-out,
        background-image 0.0s ease-in-out 0.38s;
}

.colorMode:hover {
    cursor: pointer;
    width: 165px;
    transition: width 0.4s ease-in-out;
}

.colorMode.day {
    background-image: url("daymodeicon.png");
}

.colorMode.night {
    background-image: url("nightmodeicon.png");
}

.colorMode.day:hover {
    background-image: url("daymode.png");
}

.colorMode.night:hover {
    background-image: url("nightmode.png");
}

.menu {
    width: 75px;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 50px;
    background-color: var(--main-color);
    position: relative;
    margin-top: -70px;
    transition: all 0.4s ease-in-out;
}

.menu:hover {
    cursor: pointer;
    width: 500px;
}

.menu:hover .headerItem {
    display: block;
}

.menu:hover #Convertisseur {
    left: 12%;
}

.menu:hover #Modification {
    right: 9%;
}

.homeIcon {
    width: 55px;
    height: 55px;
    margin-left: auto;
    margin-right: auto;
    background-image: url('homeiconday.jpg');
    background-size: cover;
    transition: all 0.4s ease-in-out;
}

.headerItem {
    display: none;
    font-size: 1.6rem;
    position: absolute;
    transition: all 0.4s ease-in-out;
}

.headerItem:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.convertisseur {
    width: 70%;
    height: 500px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-color: var(--main-color);
    text-align: center;
}

.title {
    font-size: 3rem;
    padding-top: 30px;
    transition: all 0.4s ease-in-out;
}

.alignColumn {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    padding-right: 1em;

}

.alignRow {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.selector {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin-top: 40px;
    margin-bottom: 20px;
    transition: all 0.4s ease-in-out;
}

option {
    text-align: center;
}

.value {
    width: 195px;
    height: 25px;
    border-radius: 5px;
    border: none;
    transition: all 0.4s ease-in-out;
}

.swap {
    width: 50px;
    height: 50px;
    background-image: url('swapday.png');
    background-size: cover;
    margin-top: 50px;
    transition: all 0.4s ease-in-out;
}

.swap:hover {
    cursor: pointer;
    transform: rotate(180deg);
}

.result {
    font-size: 1.3rem;
    margin-top: 50px;
    transition: all 0.4s ease-in-out;
}

.modification {
    width: 70%;
    height: 500px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-color: var(--main-color);
    text-align: center;
    display: none;
    justify-content: center;
    align-items: center;
}

.divInter {
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.addUnit {
    font-size: 1.3rem;
    font-weight: bolder;
}

.addUnit p {
    margin-bottom: 10px;
    transition: all 0.4s ease-in-out;
}

.addUnit p:first-child {
    margin-top: -50px;
}

#buttonAddNewUnit {
    width: 150px;
    height: 40px;
    border-radius: 50px;
    border: none;
    font-size: 1.05rem;
    font-weight: 600;
    margin-top: 10px;
    transition: all 0.4s ease-in-out;
}

#buttonAddNewUnit:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.removeUnit {
    margin-top: -50px;
}

#buttonRemoveUnit {
    width: 130px;
    height: 40px;
    border-radius: 50px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.05rem;
    font-weight: 600;
    margin-top: 10px;
    transition: all 0.4s ease-in-out;
}

#buttonRemoveUnit:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.footer {
    width: 80%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid;
}

.footer.day {
    border-color: var(--background-night);
}

.footer.night {
    border-color: var(--background-day);
}

.footerText {
    font-size: 1.2rem;
    margin-top: 15px;
    margin-bottom: 0px;
    transition: all 0.4s ease-in-out;
}

@media screen and (max-width: 600px) {
    .convertisseur {
        width: 90%;
    }

    .modification {
        width: 90%;
    }

    .divInter {
        flex-direction: column;
    }

    .addUnit {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .addUnit p:first-child {
        margin-top: 0px;
    }

}